.lp-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid rrd;
}

/* .lp-social-wrapper {
  height: 100%;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lp-social-wrapper .fa {
  color: rgb(18, 27, 15);
  margin-top: 25px;
  font-size: 25px;
  cursor: pointer;

  width: 70%;
  height: 25px;
  text-align: center;
  line-break: 25pcx;
}

.lp-social-wrapper .fa:hover {
  color: black;
  color: rgb(137, 215, 39);
} */

/* .lp-content-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid red;
} */

.lp-content-wrapper {
  /* border: 1px solid red; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lp-content-left {
  width: 40%;
  height: 100%;

  margin-left: 130px;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  /* padding: 10px; */
}

.lp-content-left-miantext {
  color: rgb(56, 78, 88);
  font-size: 45px;
  font-family: SourceSansPro;
  line-height: 50px;
}

.lp-line {
  height: 2px;
  background-color: rgb(137, 215, 39);

  width: 15%;
  margin-top: 10px;
}

.lp-content-left-miantext > span {
  color: rgb(137, 215, 39);

  font-weight: bold;
}

.lp-content-left-subtext {
  margin-top: 20px;
  font-family: LatoRegularFont;
  font-size: 14px;
  word-spacing: 2px;
  line-height: 22px;
  color: rgb(122, 121, 121);
  letter-spacing: 0.1px;
}
.lp-content-bottom {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.lp-content-about,
.lp-content-ourstory {
  margin-top: 50px;
}

.lp-content-ourstory {
  margin-left: 50px;
}
.lp-content-about-heading {
  color: rgb(56, 78, 88);
  font-size: 15px;
  font-family: RobotoBold;
  padding: 5px;
  /* border: 1px solid red; */
}

.lp-content-about-text {
  margin-top: 5px;
  font-family: LatoRegularFont;
  font-size: 12.5px;
  word-spacing: 2px;
  line-height: 19px;
  color: rgb(88, 85, 85);
  letter-spacing: 0.1px;
  padding: 0 5px;
  color: rgb(66, 79, 87);
}

.lp-content-left-contactus > button {
  align-self: flex-end;
  margin-top: 20px;

  background-color: rgb(137, 215, 39);

  outline: none;
  border: none;
  padding: 10px 35px;
  color: white;
  font-family: Raleway;
  font-size: 11.5px;
  border-radius: 7px;
  box-shadow: 0 3px 20px -4px rgba(0, 0, 0, 0.3);
  font-size: 13px;
  font-family: Raleway;
  cursor: pointer;
}

.lp-content-right {
  width: 50%;
  height: 300px;
  /* border: 1px solid red; */
}
