.lp-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.lp-content-wrapper {
  /* border: 1px solid red; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lp-content-left {
  width: 35%;
  height: 100%;

  margin-left: 130px;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  /* padding: 10px; */
}

.lc-content-left-miantext {
  color: rgb(56, 78, 88);
  font-size: 45px;
  font-family: SourceSansPro;
  line-height: 50px;
}

.lc-line {
  height: 2px;
  background-color: rgb(137, 215, 39);

  width: 15%;
  margin-top: 10px;
}

.lc-content-left-miantext > span {
  color: rgb(137, 215, 39);

  font-weight: bold;
}

.lc-content-left-subtext {
  margin-top: 20px;
  font-family: LatoRegularFont;
  font-size: 14px;
  word-spacing: 2px;
  line-height: 22px;
  color: rgb(122, 121, 121);
  letter-spacing: 0.1px;
}
.lc-content-bottom {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.lc-content-about,
.lc-content-ourstory {
  margin-top: 50px;
}

.lc-content-ourstory {
  margin-left: 50px;
}
.lc-content-about-heading {
  color: rgb(56, 78, 88);
  font-size: 15px;
  font-family: RobotoBold;
  padding: 5px;
  /* border: 1px solid red; */
}

.lc-content-about-text {
  margin-top: 5px;
  font-family: LatoRegularFont;
  font-size: 13px;
  word-spacing: 2px;
  line-height: 19px;
  color: rgb(122, 121, 121);
  letter-spacing: 0.1px;
  /* width: 60%; */
  /* border: 1px solid red; */
  padding: 0 5px;
}

.lc-content-left-contactus > button {
  align-self: flex-end;
  margin-top: 20px;

  background-color: rgb(137, 215, 39);

  outline: none;
  border: none;
  padding: 10px 35px;
  color: white;
  font-family: Raleway;
  font-size: 11.5px;
  border-radius: 7px;
  box-shadow: 0 3px 20px -4px rgba(0, 0, 0, 0.3);
  font-size: 13px;
  font-family: Raleway;
  cursor: pointer;
}

.lp-content-right {
  width: 50%;
  height: 300px;
  /* border: 1px solid red; */
}
